@model  App.Web.ViewModels.Categories.ProductInCategoryViewModel
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />

<section class="cat-tiles">
    <div class="container">
        @{
            var test = Model.Products.First();
        }

        <h2><strong>@test.CategoryName</strong></h2>

        <h2>Browse products</h2>
        <div class="row">
            <!--Products by category-->
            @foreach (var product in Model.Products)
            {
                <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <a href='@Url.Action("Index", "Product",new { @id = product.Id})'>
                        <img src="@product.ImagePath" alt="@product.Name" />
                        <p>@product.Name</p>
                    </a>
                </div>
            }
        </div>
    </div>
</section><!--Products by category Close-->
