@model  App.Web.ViewModels.Home.HomeViewModel

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br/>
<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Categories)*@
            Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Categories)*@
            Image
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Categories)*@
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var category in Model.Categories)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => category.Name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => category.ImagePath)*@
                <img class="img-responsive" src="@category.ImagePath" alt="@category">
            </td>
            <td>
                @Html.EditorFor(modelItem => category.Description, new { @class= "form-control" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = category.Id }) |
                @Html.ActionLink("Details", "Details", new { id = category.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = category.Id })
            </td>
        </tr>
    }
</table>
