@model App.Web.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="col-lg-7 col-md-7 col-sm-7">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "registr-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter email" })
            </div>
        </div>

            <div class="form-group group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password" })
                </div>
            </div>
            <div class="form-group group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })

                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Repeat password" })

            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="remember"> I have read and agree with the terms</label>
            </div>
            <input class="btn btn-success" type="submit" value="Register">
    }
</div>

