@model IEnumerable<App.Web.Areas.User.UserViewModels.WishListViewModel>
@{
    ViewBag.Title = "Index";
}

<!--Wishlist-->
<section class="wishlist">
    <div class="container">
        <div class="row">
            <!--Items List-->
            <div class="col-lg-9 col-md-9">
                <h2 class="title">Wishlist</h2>
                <table class="items-list">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Product name</th>
                        <th>Product price</th>
                    </tr>
                    <!--Item-->
                    @foreach (var wishList in Model)
                    {
                        <tr class="item first">
                            <td class="thumb"><a href="/ProductsDetails/Index/@wishList.Product.Id"><img src="@wishList.Product.ImagePath" alt="@wishList.Product.Name" /></a></td>
                            <td class="name"><a href="/ProductsDetails/Index/@wishList.Product.Id">@wishList.Product.Name</a></td>
                            <td class="price">@wishList.Product.Price $</td>
                            <td class="button"><a class="btn btn-primary btn-sm" href="#"><i class="icon-shopping-cart"></i>Add to cart</a></td>
                            @using (Ajax.BeginForm("Delete", "Wishlist", new { @id = wishList.Id, area = "User" }, null, new { target = "_self", @id = "wish-list-form-delete-" + wishList.Id }))
                            {
                                @Html.AntiForgeryToken();
                                <td class="delete" onclick="document.getElementById('wish-list-form-delete-' + @(wishList.Id)).submit();" )><i class="icon-delete"></i></td>
                            }

                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</section><!--Wishlist Close-->
